<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CliVPathComponent" Guid="*">
        <RegistryKey
          Root="HKCU"
          Key="Software\TwoMonkeys\cliV"
          Action="createAndRemoveOnUninstall"
        >
          <RegistryValue
            Type="integer"
            Name="PathManaged"
            Value="1"
            KeyPath="yes"
          />
        </RegistryKey>
        <Environment
          Id="CliVPathEntry"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="no"
          Value="[INSTALLDIR]"
        />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
